.label{
	-fx-font-size: 9pt; 
}

.button{
	-fx-background-color: #fafad2; 
	-fx-border-color: #ffd700;
}

.root{
	-fx-background-color: linear-gradient(to bottom right,  #8fbc8f, #d2b48c) ;
}

.combo-box{
	-fx-background-color: #fafad2;
}

.menu-bar{
	-fx-background-color: rgba(60, 179, 113, 0.5); 
}

.menu{
	-fx-border-color:  #8fbc8f;
}
.menu-item{
	-fx-background-color: rgba(60, 179, 113, 0.5); 
	-fx-border-color: #8fbc8f;
}