.label{
	-fx-font-size: 9pt; 
}

.button{
	-fx-background-color: #ffc107; 
	-fx-border-color: #f9e076;
}

.root{
	-fx-background-color: linear-gradient(to bottom right,  #f9e076, #895129) ;
}

.combo-box{
	-fx-background-color: #fffdd0;
}

.menu-bar{
	-fx-background-color: #b37e2e; 
}

.menu{
	-fx-border-color:  #b37e2e;
}
.menu-item{
	-fx-background-color: #b37e2e; 
	-fx-border-color:#b37e2e;
}